<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline" ng-repeat="trend in trends">
        <div class="form-group">
          <label for="newTrendName{{trend._id}}">Name</label>
          <input type="text" class="form-control" id="newTrendName{{trend._id}}" placeholder="" ng-model="trend.name">
        </div>
        <div class="form-group">
          <label for="newTrendCategory{{trend._id}}">Category</label>
          <input type="text" class="form-control" id="newTrendCategory{{trend._id}}" placeholder="" ng-model="trend.category">
        </div>
        <div class="form-group">
          <label for="newTrendOrder{{trend._id}}">Order</label>
          <input type="number" class="form-control" id="newTrendOrder{{trend._id}}" placeholder="" ng-model="trend.order">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" uib-datepicker-popup="" ng-model="trend.date" is-open="trend.pickerOpened" datepicker-mode="'month'" min-mode="'month'" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker(trend)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="trend.active"> Active
          </label>
        </div>
        <button type="button" class="btn btn-default" ng-disabled="loading" ng-click="updateTrend(trend)">Update</button>
        <button type="button" class="btn btn-danger" ng-disabled="loading" ng-click="removeTrend(trend)">Remove</button>
      </form>



      <form class="form-inline" ng-submit="addTrend(newTrend)">
        <div class="form-group">
          <label for="newTrendName">Name</label>
          <input type="text" class="form-control" id="newTrendName" placeholder="" ng-model="newTrend.name">
        </div>
        <div class="form-group">
          <label for="newTrendCategory">Category</label>
          <input type="text" class="form-control" id="newTrendCategory" placeholder="" ng-model="newTrend.category">
        </div>
        <div class="form-group">
          <label for="newTrendOrder">Order</label>
          <input type="number" class="form-control" id="newTrendOrder" placeholder="" ng-model="newTrend.order">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="newTrend.active"> Active
          </label>
        </div>
        <button type="submit" class="btn btn-default" ng-disabled="loading">Add</button>
      </form>

    </div>
  </div>
</div>