<header>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <img src="/assets/images/logo-retrospective.png" alt="ReTroSpective" />
                <h1>Le journal des grandes actualit&eacute;s de l&#146;ann&eacute;e RTS</h1>
            </div>
            <div class="col-md-3">
                <button>
                    <img src="/assets/images/twitter-button.png" alt="twitter-connect" />
                    Personalize
                </button>
            </div>
        </div>
    </div>
</header>
