<header>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <img ng-src="assets/images/logo-retrospective.png" alt="ReTroSpective" />
                <h1>Le journal des actualit&eacute;s de l&#146;ann&eacute;e RTS les plus populaires</h1>
            </div>
            <div class="col-md-3">
                <button>
                    <img src="/assets/images/twitter-button.png" alt="twitter-connect" />
                    Personalize
                </button>
            </div>
        </div>
    </div>
</header>
