<!--<div ng-include="'components/navbar/navbar.html'"></div>-->
<div ng-include="'components/navbar/header.html'"></div>


<!-- Vertical Navigation - Pin to Top -->
<div class="nav-left-afix" style="">
  <div class="">
    <ul>
      <li ng-repeat="month in months" class="">
        <a href="#{{ month.date | date:'MM-yyyy' }}">{{ month.date | date:'MMMM yy' }}</a>
          <div class="dotstyle dotstyle-fillup">
            <ul>
              <li ng-repeat="keyword in month.keywords" class="">
                <a href="#{{ month.date | date:'MM-yyyy' }}-{{keyword.name}}"></a>
              </li>
            </ul>
          </div>
      </li>
    </ul>
  </div>
</div>
<!-- End Vertical Navigation - Pin to Top -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-12 col-md-10">
      <div ng-repeat="month in months" 
          id="{{ month.date | date:'MM-yyyy' }}">
        
        <!-- Keywords List -->
        <ul class="ul-keywords">
          <li ng-repeat="keyword in month.keywords" class="row">

            <h2 class="col-xs-12 col-md-12">
                <span class="red">#</span><span>{{ keyword.name | uppercase}}</span>
              <bar-chart ng-if="keyword.trends" 
                         series="keyword.trends" 
                         name="keyword.name" 
                         width="200" 
                         height="42" 
                         label="month.date | date:'MMMM'">
              </bar-chart>
            </h2>
            
            <!-- Main Article -->
            <div ng-if="keyword.mainArticle !== undefined"
                 id="{{ month.date | date:'MM-yyyy' }}-{{keyword.name}}">
              <h3 class="col-xs-12 col-md-10">{{ keyword.mainArticle.title }}</h3>
              <p class="col-xs-12 col-md-10 date">{{ keyword.mainArticle.publication | date:'dd MMMM yyyy' }}</p>
            
              <!-- VIDEO Player -->
              <div class="col-xs-12 col-md-10"
                   ng-if="keyword.mainArticle.articleType == 'video' && keyword.mainArticle.details !== undefined && keyword.mainArticle.details.streams != undefined">
                <video-player source="keyword.mainArticle.details.streams._src"></video-player>
              </div><!-- END VIDEO ITEM -->
              
              <!-- if no video player, diplay image -->
              <div class="col-xs-12 col-md-10"
                   ng-if="keyword.mainArticle.articleType != 'video' && keyword.mainArticle.img">
                   <img src="{{ keyword.mainArticle.img }}" style="max-width:100%;" />
              </div><!-- END IMAGE -->

              <!-- Aside Information -->
              <div class="col-xs-12 col-md-2 aside-info" 
                   ng-if="keyword.mainArticle['related-content'] && keyword.mainArticle['related-content'].mainMediaAttachment && keyword.mainArticle['related-content'].mainMediaAttachment[0]">
                <p>{{ keyword.mainArticle['related-content'].mainMediaAttachment[0].title }}</p>
                <em>[{{ keyword.mainArticle['related-content'].mainMediaAttachment[0].photographer }}]</em>
              </div> <!-- End Aside Information -->
 
              <!-- Article -->
              <article class="col-xs-12 col-md-offset-3 col-sm-6"
                       ng-class="{'push-up': keyword.mainArticle.articleType != 'video'}">
               
                <span class="category">{{ keyword.category | uppercase }}</span>
                <h4 ng-bind-html="keyword.mainArticle.intro"></h4>
                <p class="read-more"
                   ng-class="{hidden: !keyword.mainArticle.isCollapsed}"
                   ng-click="keyword.mainArticle.isCollapsed = !keyword.mainArticle.isCollapsed">
                  AFFICHER PLUS
                </p>
                
                <!-- body -->
                <div ng-bind-html="keyword.mainArticle.body" uib-collapse="keyword.mainArticle.isCollapsed"></div>
               <!--<p class="read-more"
                   ng-class="{hidden: keyword.mainArticle.isCollapsed}"
                   ng-click="keyword.mainArticle.isCollapsed = !keyword.mainArticle.isCollapsed">
                  FERMER
                </p>-->
              </article> <!-- End Article -->

            </div><!-- END Main Article -->

            <!-- Related Articles -->
            <div class="" ng-if="keyword.items.length > 1">

              <h5 class="col-xs-12 col-md-8">Davantage sur {{ keyword.name }}</h5>
              <div ng-repeat="item in keyword.items.slice(1, 3)">
                <related-media item="item" index="$index"></related-media>
              </div>
            </div>
              
            <!-- Tweet -->
            
            <div class="col-xs-12 col-md-12">
              <div class="twitter-block">
                  <img src="../../assets/images/twitter-black.png" alt="" />
                  <p>“ The all-time series is tied 21-21. Who takes the lead in this epic rivalry tonight?  ”</p>
                  <a href="#" target="_blank">@r_halloran</a>
              </div>
            </div> <!-- End Tweet -->
            
              
          </li>
        </ul> <!-- End Keywords List -->
      </div>
    </div>
  </div>
</div>
